.footer {
  background-color: #fff;
  padding: 20px 30px;
}

.footer .footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-top .footer-logo img {
  width: 180px;
  text-align: start;
  align-items: flex-start;
  padding: 0;
}

.footer-top .footer-heading h3 {
  font-size: 30px;
  color: black;
  width: 100%;
  text-align: start;
  margin: 0;
  font-weight: bold;
}

.footer-top .contact-us-button button {
  background-color: #ff6600;
  color: #0E011B;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

.footer-top .contact-us-button button:hover {
  background-color: #0E011B;
  color: white;

}

.footer-top .apply-right-arrow{
  display: inline-flex;
  align-items: center;
}
.footer-top .arrow-icon{
  color: #0E011B;
}

.footer-top button:hover .arrow-icon{
  color: #ff6600;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 40px;
  justify-content: start;
}

.footer-left, .footer-center, .footer-right {
  flex: 1;
  max-width: 250px;
}

.footer-center {
  text-align: start;
  padding: 5px;
  margin-top: 10px;
}

.footer-center .contact-info {
  list-style: none;
  padding: 0;
 
}
.contact-info .ones{
  width: 60px;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 35px; 
  font-size: 14px;
}


.contact-info li svg{
  font-size: 10px;
  width: 50px;
  height: 30px;
  padding: 0;
}


.contact-info li span {
  margin-left: 5px;
  width: 100%;
  font-size: 0.9rem;

}

.footer-right {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 15px;
}

.quick-links h3, .legal-links h3 {
  font-size: 18px;
  color: #ff6600;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: start;
  width: 125px;
}

.quick-links ul, .legal-links ul {
  list-style: none;
  padding: 0;
  
}

.quick-links ul li, .legal-links ul li {
  margin-bottom: 10px;
}

.quick-links ul li a, .legal-links ul li a {
  color: black;
  font-size: 14px;
  text-decoration: none;
  
}

.quick-links ul li a:hover, .legal-links ul li a:hover {
  color: #ff6600;
}

.footer-left {
  margin-left: 90px;
  margin-top: 10px;
}

.footer-left h3 {
  font-size: 20px;
  color: #ff6600;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: start;
}

.newsletter p {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
  text-align: start;
}

.newsletter-form {
  display: flex;
  justify-content: start;
}

.newsletter-form input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

.newsletter-form button {
  background-color: #ff6600;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
 
}

.footer-left .social-icons {
  display: flex;
  margin-top: 20px;
  justify-content: start;
  
}

.social-icons a {
  margin-right: 15px; 
  color: black;
  font-size: 16px;
}

.social-icons a img{
  width: 30px;
  height: 30px;
}

.footer .divide {
  border: none;
  height: 1.5px;
  background: linear-gradient(to right, transparent 0%, grey 10%, grey 90%, transparent 100%);
  width: 80%;
  margin: auto;
}

.footer h5 {
  text-align: center;
  color: #0E011B;
  font-size: 1rem;
  font-weight: 100;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {

  .footer{
    padding-left: 30px;
  }
  
  .footer .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-top .footer-logo img{
    width: 100px;
  }

  .footer-center {
    padding: 0;
    margin-top: 0;
    padding-left: 0;
  }
  .contact-info .ones{
    width: 25px;
    text-align: start;
  }
  .contact-info li {
    align-items: center;
    justify-content: start;
    margin-bottom: 5px; 
    font-size: 14px;
    padding-left: 0;
    gap: 10px;
    margin-top: 0;
  }

  .footer-top .footer-logo img {
    width: 130px;
    height: auto;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .footer-left, .footer-center, .footer-right {
    max-width: 100%;
    flex: none;
    margin-bottom: 0px;
  }
  .quick-links h3, .legal-links h3 {
    margin-bottom: 5px;
  }

  .footer-left {
    margin-left: 0;
  }

  .newsletter-form input {
    width: 60%;
  }

}

@media (max-width: 480px) {

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    gap: -10px;
    justify-content: start;
  }

  .topline{
    margin-bottom: 0;
  }


  .footer-top .footer-heading h3 {
    font-size: 24px;
    margin-bottom: 15px;
    
  }

  .footer-top .contact-us-button button {
    font-size: 0.9rem;
    padding: 8px 10px;
  }

  .quick-links h3, .legal-links h3 {
    font-size: 16px;
    margin: 0;
  }
  .quick-links ul, .legal-links ul {
    padding-top: 0;
    margin-top: 5px;
  }

  .quick-links ul li a, .legal-links ul li a {
    font-size: 12px;
    margin: 0;
    padding-top: 0;
  }

  .footer-left h3 {
    font-size: 16px;
  }
  .footer-left p {
    font-size: 14px;
  }

  .newsletter-form input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0px;
  }

  .newsletter-form button {
    width: 25%;
    height: 35px;
  }

  .footer .divide {
    width: 90%;
  }

  .footer-left .social-icons {
    margin-top: 10px;
  }
  

  .footer-right {
    gap: 0;
  }
  .footer-left {
    margin-top: -15px;
  }
  .quick-links ul li, .legal-links ul li {
    margin-bottom: 0px;
}
  
}




.dark .footer{
  background-color: #1e1e1e;
}

.dark .page-content .footer-center .contact-info{
  color: white;
}

.dark .page-content .newsletter p {
  color: white;
}

.dark .page-content .quick-links ul li a{
  color: white;
}
.dark .page-content .legal-links ul li a {
  color: white;
}

.dark .page-content .footer-top .footer-heading h3{
  color: white;
}

/* .dark .page-content .footer-top .footer-logo {
  background-color: white;
} */

.dark .page-content .footer-top .contact-us-button button {
  background-color: white;
  color: #0E011B;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}

.dark .page-content .footer-top .contact-us-button button:hover {
  background-color: #ff6600;
}
.dark .page-content .social-icons a {
  color: white;
}

.dark .page-content h5 {
  color: white;
}

.dark .page-content .footer-top button:hover .arrow-icon{
  color: #0E011B;
}